body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.header {
    height: 100vh;
    background-color: #A9155D;
}

.navigation {
    width: 60%;
    align-content: center;
    margin: auto;
    padding: 15px;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.navigation li {
    text-align: center;
    flex: 1;
}

.navigation ul li a {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 1em;
    width: 150px;
    padding-bottom: 5px;
}

.navigation ul li a:hover {
    border-bottom: 2px solid #FFFFFF;
}

.header h1 {
    height: 200px;
    width: 50%;
    margin-top: 15%;
    margin-left: 25%;
}

.header h1 img {
    height: 100%;
    width: 100%;
}

.Line {
  background-color: #A9155D;
    display: block;
    margin: 0 auto 25px;
  width: 79px;
  height: 3px;
}

.main {
    width: 60%;
    margin: auto;
}

.main h1 {
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 5px;
}

.main p {
    font-size: 1.2em;
    line-height: 1.4em;
    text-align: justify;
}

.about-me h3 {
    text-align: center;
}

.people h3 {
    margin-left: 15px;
    text-align: center;
}

.people img {
    margin-left: 40px;
    border-radius: 100%;
    float: left;
    height: 200px;
    width: 200px;
}

.people p {
    padding-left: 280px;
    color: dimgrey;
    font-style: italic;
}

.people-second h3 {
    margin-right: 15px;
    text-align: center;
}

.people-second img {
    margin-right: 40px;
    border-radius: 100%;
    float: right;
    height: 200px;
    width: 200px;
}

.people-second p {
    padding-right: 280px;
    color: dimgrey;
    font-style: italic;
}

.offer {
    width: 70%;
    margin: 0 auto;
}

.offer h3 {
    text-align: center;
}

.offer img {
    height: 500px;
    width: 700px;
    display: block;
    margin-left: -10%;
    border-radius: 10px;
}

.offer p {
    font-size: 1.2em;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
}

.news {
    margin-top: 40px;
}

.news p {
    text-align: center;
    color: red;
    font-style: italic bold;
}
.map {
    float: left;
    margin-left: 40px;
}

.contact {
    margin-bottom: 60px;
}
.contact p {
    margin-top: 80px;
    padding-left: 600px;
    line-height: 2em;
}
.clear {
    clear: both;
}

.footer {
    width: 100%;
    color: #FFFFFF;
    background-color: #870747;
    text-align: center;
    margin: 0;
    padding: 0;
}

.footer p {
    margin: 0;
    padding: 0;
}