* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.navigation {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 999;
    margin-top: 0;
    padding-top: 0;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    background-color: #AA155D;
}

.navigation ul li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 35px;
}

.navigation ul li:nth-child(1) {
    padding-right: 28%;
    padding-left: 10;
    padding-top: 0;
    margin: 0;
}

.navigation ul li a {
    text-decoration: none;
    color: #FFFFFF;
    padding-bottom: 5px;
}

.navigation ul li img {
    width: 650px;
    height: 100px;
}

.navigation ul li a:hover {
    border-bottom: 4px solid #;
}

.firm-info {
    width: 100%;
    line-height: 1.1em;
    height: 1.7em;
    background-color: #A9155D;
    position: fixed;
    bottom: 0;
    text-align: center;
}

.firm-info {
    color: #FFFFFF;
}

p {
    font-size: 1.1em;
    line-height: 1.6em;
}

h1, h2, h3, h4, h5, h5 {
    padding: 20px 0;
}

.js-below {
    background: #222;
    color: #FFFFFF;
}

.Line {
  background-color: #A9155D;
    display: block;
    margin: 0 auto 25px;
  width: 79px;
  height: 3px;
}

section {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 110px;
}

/** Button do sklepu **/

.button {
    display: inline-block;
    background: #AA155D;
    color: #fff;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 7px 10px 0px #AA155D;
    cursor: pointer;
    transition: all ease-in-out 300ms;
}

.button:hover {
    box-shadow: 0px 17px 20px 0px #AA155D;
}

/** Formularz **/
form {
    max-width: 500px;
    margin: 0 auto 40px;
}

form label {
    display: block;
    margin-bottom: 20px;
}

form label span {
    display: block;
}

form textarea {
    height: 10em;
}

.submite-wrap {
    text-align: right;
}

form [type="submit"] {
    background-color: #AA155D;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 33%;
}

form [type="submit"]:hover {
    background-color: #E1C184;
}

form input, form textarea {
    border: 1px solid #AA155D;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

form input:focus, form textarea:focus {
    outline: none;
    border-color: #E1C184;
}

.contact-form-info label {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.contact-form-info label:nth-child(1) {
    padding-right: 5px;
}

.contact-form-info label:nth-child(2) {
    padding-left: 5px;
}

.map {
    float: left;
    margin-left: 40px;
}

footer {
    width: 60%;
    margin: auto;
    padding: 20px;
}

footer h1 {
    text-align: center;
}

footer p {
    margin-top: 80px;
    padding-left: 600px;
    line-height: 2em;
}

.map {
    padding-bottom: 60px;
}